<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-text color="danger">Edison Rivera (EstX)</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9"><ion-img src="https://raw.githubusercontent.com/edisonrivera/EdisonRivera/main/media/banner.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img></ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        Soy un Pentester Junior (Red Team 🚩) con un año de experiencia. A lo largo de este tiempo me he enfrentado a
        cientos de máquinas en HackTheBox y Vulnhub, de las cuales tengo cada uno de los writeups en mi blog 👀 . Mi
        experiencia incluye pentesting en una variedad de entornos, sistemas y aplicaciones, con un enfoque en la
        identificación de vulnerabilidades. ⚔

        Mi formación académica la realizo en las plataformas: HackTheBox Academy y Hack4u
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-chip color="primary">
          <ion-button fill="clear" href="http://www.linkedin.com/in/edison-rivera-684a3b222"><ion-icon
              name="logo-linkedin"></ion-icon></ion-button>
        </ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip color="primary">
          <ion-button fill="clear" href="https://github.com/edisonrivera"><ion-icon
              name="logo-github"></ion-icon></ion-button>
        </ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip color="primary">
          <ion-button fill="clear" href="https://app.hackthebox.com/profile/812859"><ion-icon
              name="cube"></ion-icon></ion-button>
        </ion-chip>
      </ion-col>
    </ion-row>

    <h2 class="ion-text-center">HABILIDADES</h2>
    <ion-row class="ion-justify-content-center" size="9">
      <ion-list>
        <ion-item id="trigger-button" class="custom-hover">
          <ion-icon name="bug" class="ion-margin-end"></ion-icon>
          <ion-label class="ion-text-start">Red Team | Detección de vulnerabilidades</ion-label>
        </ion-item>
        <ion-popover trigger="trigger-button">
          <ng-template>
            <ion-content class="ion-padding">Detección de vulnerabilidades del OWASP Top 10</ion-content>
          </ng-template>
        </ion-popover>

        <ion-item id="trigger-button-2" class="custom-hover">
          <ion-icon name="search" class="ion-margin-end"></ion-icon>
          <ion-label class="ion-text-start">Análisis de Código Fuente</ion-label>
        </ion-item>
        <ion-popover trigger="trigger-button-2">
          <ng-template>
            <ion-content class="ion-padding">Capacidad de análisis a bajo nivel para detectar código
              inseguro</ion-content>
          </ng-template>
        </ion-popover>

        <ion-item id="trigger-button-3" class="custom-hover">
          <ion-icon name="book" class="ion-margin-end"></ion-icon>
          <ion-label class="ion-text-start">Redacción de Informes</ion-label>
        </ion-item>
        <ion-popover trigger="trigger-button-3">
          <ng-template>
            <ion-content class="ion-padding">Creación de informes técnicos y de usuario con LaTex</ion-content>
          </ng-template>
        </ion-popover>

      </ion-list>
    </ion-row>
    <h2 class="ion-text-center">HERRAMIENTAS</h2>
    <ion-row class="ion-justify-content-center">

      <ion-col size="auto">
        <ion-row>
          <h3>Python</h3>
          <ion-img class="size-icon" src="https://cdn-icons-png.flaticon.com/512/2570/2570575.png" alt="Python Logo">
          </ion-img>
        </ion-row>
      </ion-col>
      <ion-col size="auto">
        <ion-row>
          <h3>Bash</h3>
          <ion-img class="size-icon" src="https://cdn-icons-png.flaticon.com/512/919/919837.png" alt="Bash Logo">
          </ion-img>
        </ion-row>
      </ion-col>
      <ion-col size="auto">
        <ion-row>
          <h3>Linux</h3>
          <ion-img class="size-icon" src="https://cdn-icons-png.flaticon.com/512/546/546049.png" alt="Linux Logo">
          </ion-img>
        </ion-row>
        
      </ion-col>
    </ion-row>

    <h2 class="ion-text-center">LOGROS</h2>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Bug Bounty" src="https://raw.githubusercontent.com/edisonrivera/EdisonRivera/main/media/badges/bug-bounty-path.png" />
          <ion-card-header>
            <ion-card-title>Bug Bounty Path</ion-card-title>
            <ion-card-subtitle>Academy HackTheBox</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Ready to hunt bugs for fun and profit.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Pentester" src="https://raw.githubusercontent.com/edisonrivera/EdisonRivera/main/media/badges/tester-path.png" />
          <ion-card-header>
            <ion-card-title>Pentester Path</ion-card-title>
            <ion-card-subtitle>Academy HackTheBox</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            The Protector of security.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="AD" src="https://raw.githubusercontent.com/edisonrivera/EdisonRivera/main/media/badges/ad-module.png" />
          <ion-card-header>
            <ion-card-title>AD Enumeration & Attack</ion-card-title>
            <ion-card-subtitle>Academy HackTheBox</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Enumerate & Attack!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>